* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #282a36;
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  color: #33CCFF;
}

#workspaces button.active {
  color: #00FF99;
}

#workspaces button.urgent {
  color: #FF3333;
}

#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}