;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #181825
foreground = #cdd6f4
primary = #bac2de
secondary = #7f849c
alert = #fab387


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
height = 24
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 2
padding-right = 2
module-margin-left = 0
module-margin-right = 3
font-0 = Sauce Code Pro Nerd Font:weight=semibold:size=10;2
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = wuncon siji:pixelsize=10;1
modules-center = xwindow time
modules-right = xbacklight cpu memory wlan eth battery pulseaudio temperature date
tray-position = none
cursor-click = pointer
cursor-scroll = ns-resize

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.foreground-alt}
label-active-background = ${colors.background-alt}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}


[module/xwindow]
type = internal/xwindow
label = %title%
label-minlen = 50
label-maxlen = 50
label-alignment = right
label-padding-right = 100px


[module/time]
type = internal/date
time = %I:%M %p
label = %time%
label-minlen = 50
label-maxlen = 50
label-alignment = left
label-padding-left = 100px


[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = BL

bar-width = 10
bar-indicator = |
bar-indicator-foreground = #fff
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = #9f78e1
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2
label = CPU %percentage:2%%
warn-percentage = 50
label-warn = CPU %percentage%%
label-warn-foreground = ${colors.alert}

[module/memory]
type = internal/memory
interval = 2
label = MEM %percentage_used%%
warn-percentage = 80
label-warn = MEM %percentage%%
label-warn-foreground = ${colors.alert}

[module/wlan]
type = internal/network
interface-type = wireless
interval = 3.0

format-connected = <label-connected>
label-connected = WLAN %signal%

format-disconnected =

[module/eth]
type = internal/network
interface-type = wired
interval = 3.0

label-connected = LAN %local_ip%

format-disconnected =

[module/date]
type = internal/date
date = " %Y-%m-%d"
time = %I:%M %p
label = %time% %date%

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
label-volume = VOL %percentage%%

label-muted = 🔇 muted
label-muted-foreground = ${colors.secondary}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98

format-charging = <animation-charging> <label-charging>

format-discharging = <animation-discharging> <label-discharging>

format-full-prefix = "BAT "
format-full-prefix-foreground = ${colors.foreground-alt}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 30

format = <label>
format-warn = <label-warn>

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.alert}

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
